<!doctype html>
<html>
    <head>
    <title>Landing</title>
        <meta name="description" content="Landing page for Incident Prone">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>

    <body style="margin:10px;">
        <h1>Incident Prone</h1>
        <p><a href ="/new">Report an issue</a></p>
        <h2>All incidents</h2>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Priority</th>
                <th>Summary</th>
                <th>Last Update</th>
                <th>Resolved?</th>
                <th>Opened By</th>
            </tr>
            <tbody>
            {{range $id, $data := .Entries }}
                <tr>
                    <td><a href="/view/{{$data.Id}}">{{$data.Id}}</a></td>
                    <td>{{$data.IssueType}}</td>
                    <td>{{$data.Summary}}</td>
                    <td>{{$data.LastUpdated}}</td>
                    <td>{{$data.Resolved}}</td>
                    <td>{{$data.Reporter}}</td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </body>
</html>