<!doctype html>
<html>
    <head>
    <title>Report an issue!</title>
        <meta name="description" content="Landing page for Incident Prone">
    </head>

    <body>
        <h1>Incident Prone</h1>
        <h2>Report an Incident</h2>
        <form action ="/create" method="POST">
            <div>
                <label>Name<span class="tooltip-element" tooltip="Your name, as in the person reporting this!">?</span></label>
                <input type="text" placeholder="Your name, as in the person reporting this!" required="required" class="form-control" name="username" title="Your name, as in the person reporting this!">
            </div>
            <div>
                <label>Issue Type<span class="tooltip-element" tooltip="What type of issue is it?">?</span></label>
                <select name="issueType" class="form-control" required="required" aria-required="true">
                    {{range $id, $data := . }}
                        <option value="{{$data.Id}}">{{$data.Text}}</option>
                    {{ end }}
                </select>
            </div>
            <div>
                <label>Issue Summary<span class="tooltip-element" tooltip="A quick summary of the issue in less than 140 chars.">?</span></label>
                <input type="text" name="summary" placeholder="A quick summary of the issue in less than 140 chars." class="form-control" maxlength="140" title="A quick summary of the issue in less than 140 chars." required="required" aria-required="true">
            </div>
            <div>
                <label>What's the issue?<span class="tooltip-element" tooltip="Describe the incident. What's blown up today?"></span></label>
                <div>
                    <textarea name="issue" placeholder="Describe the incident. What's blown up today?"  title="Describe the incident. What's blown up today?" required="required" aria-required="true"></textarea>
                </div>
            </div>
            <div>
                <label>Has the issue already been resolved?</label>
                <div class="checkbox-group">
                    <input name="resolved" value="resolved" type="checkbox">
                    <label>Resolved?</label>
                </div>
            </div>
            <button type="submit">Submit</button>
    </form>

    <p><a href ="/">Return to home</a></p>
    </body>
</html>
