<!doctype html>
<html>
    <head>
    <title>Landing</title>
        <meta name="description" content="Landing page for Incident Prone">
    </head>

    <body>
        <h1>Incident Prone</h1>
        <table>
            <th>
                <td>ID</td>
                <td>Name</td>
                <td>First Reported</td>
                <td>Last Update</td>
                <td>Resolved?</td>
                <td>Opened By</td>
            </th>
        </table>
    </body>
</html>