<!doctype html>
<html>
    <head>
    <title>Landing</title>
        <meta name="description" content="Landing page for Incident Prone">
    </head>

    <body>
        <h1>Incident Prone</h1>
        <h2>Report an Incident</h2>
        <div class="rendered-form">
            <div class="formbuilder-text form-group field-text-1664024107184">
                <label for="text-1664024107184" class="formbuilder-text-label">Name<span class="tooltip-element" tooltip="Your name, as in the person reporting this!">?</span></label>
                <input type="text" placeholder="Your name, as in the person reporting this!" class="form-control" name="text-1664024107184" access="false" id="text-1664024107184" title="Your name, as in the person reporting this!">
            </div>
            <div class="formbuilder-select form-group field-select-1664024845544">
                <label for="select-1664024845544" class="formbuilder-select-label">Issue Type<span class="formbuilder-required">*</span><span class="tooltip-element" tooltip="What type of issue is it?">?</span></label>
                <select class="form-control" name="select-1664024845544" id="select-1664024845544" required="required" aria-required="true">
                    {{range $id, $data := . }}
                        <option value="{{$data.Id}}">{{$data.Text}}</option>
                    {{ end }}
                </select>
            </div>
            <div class="formbuilder-text form-group field-text-1664024195719">
                <label for="text-1664024195719" class="formbuilder-text-label">Issue Summary<span class="formbuilder-required">*</span><span class="tooltip-element" tooltip="A quick summary of the issue in less than 140 chars.">?</span></label>
                <input type="text" placeholder="A quick summary of the issue in less than 140 chars." class="form-control" name="text-1664024195719" access="false" maxlength="140" id="text-1664024195719" title="A quick summary of the issue in less than 140 chars." required="required" aria-required="true">
            </div>
            <div class="formbuilder-text form-group field-text-1664024156426">
                <label for="text-1664024156426" class="formbuilder-text-label">Issue<span class="formbuilder-required">*</span><span class="tooltip-element" tooltip="Describe the incident. What's blown up today?">?</span></label>
                <input type="text" placeholder="Describe the incident. What's blown up today?" class="form-control" name="text-1664024156426" access="false" id="text-1664024156426" title="Describe the incident. What's blown up today?" required="required" aria-required="true">
            </div>
            <div class="formbuilder-checkbox-group form-group field-checkbox-group-1664024258950">
                <label for="checkbox-group-1664024258950" class="formbuilder-checkbox-group-label">Has the issue already been resolved?</label>
                <div class="checkbox-group">
                    <div class="formbuilder-checkbox">
                        <input name="checkbox-group-1664024258950[]" access="false" id="checkbox-group-1664024258950-0" value="resolved" type="checkbox">
                        <label for="checkbox-group-1664024258950-0">Resolved?</label>
                    </div>
                </div>
            </div>
            <div class="formbuilder-button form-group field-button-1664024407421">
                <button type="button" class="btn-default btn" name="button-1664024407421" access="false" style="default" id="button-1664024407421">Submit</button>
            </div>
        </div>

    </body>
</html>
