<!doctype html>
<html>
    <head>
    <title>Landing</title>
        <meta name="description" content="Landing page for Incident Prone">
    </head>

    <body>
        <h1>Incident Prone</h1>
        <p><a href ="/">Return to home</a></p>
        <h2>Viewing Report: {{ .PrimaryReport.Summary }}</h2>
        <p>Reported by: {{ .PrimaryReport.Reporter }}<br />
            Created: {{ .PrimaryReport.Created }}<br />
            Last Updated: {{ .PrimaryReport.LastUpdated }}</p>
        <h3>Issue Description</h3>
        <pre style="white-space: pre-wrap;">{{ .PrimaryReport.Full }}</pre>

        <p><a href ="/">Return to home</a></p>

        <h3>Update Issue</h3>
        <form action ="/update" method="POST">
            <div>
                <label>Name:<span class="tooltip-element" tooltip="Your name, as in the person reporting this!"></span></label>
                <input type="text" placeholder="Your name, as in the person reporting this!" required="required" class="form-control" name="username" title="Your name, as in the person reporting this!">
            </div>
            <div>
                <label>Message:<span class="tooltip-element" tooltip=""></span></label>
                <div>
                    <textarea name="issue" placeholder="What's the update?"  title="What's the update?" required="required" aria-required="true"></textarea>
                </div>
            </div>
            <div>
                <label>Resolve Issue</label>
                <div class="checkbox-group">
                    <input name="resolved" value="resolved" type="checkbox">
                    <label>Resolved?</label>
                </div>
            </div>
            <button type="submit">Submit</button>
    </form>


    </body>
</html>
