<!doctype html>
<html>
    <head>
    <title>Landing</title>
        <meta name="description" content="Landing page for Incident Prone">
    </head>

    <body>
        <h1>Incident Prone</h1>
        <h2>Viewing Report: {{ .PrimaryReport.Summary }}</h2>
        <p>Content or something</p>



        <p><a href ="/">Return to home</a></p>
    </body>
</html>